.btn-blue{
  background-color: #112C56;
  color: white;
  border-radius: 4px;
  border: 1px solid  #112C56;
  padding: 5px 15px;
}
.bannerleft{
  display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-outline-blue{
  background-color: white;
  color: #112C56;
  border-radius: 4px;
  border: 1px solid  #112C56;
  padding: 5px 15px;
}
.text-grey{
  color: grey;
}

.banner-right img{
  width: 100%;
}

.login-modal {
  width: 100%;
  height: 100vh;
  background-color: #00000094;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: none; */
}

.modal-card{
  width: 400px;
  min-height: 200px;
  background-color: white;
  border-radius: 8px;
}
.modalheader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:  #D8DFEB;
  padding: 5px 15px;
  border-radius: 8px 8px 0 0;
}
.modalheader img{
  width: 20px;
}
form{
  padding: 30px;
}
input{
  border: none;
  border-bottom: 1px solid rgb(211, 198, 198);
  padding: 5px 0;
  margin-bottom: 20px !important;
  width: 100%;
}
.close-modal{
  cursor: pointer;
}
.text-10{
  font-size: 10px;
}
.text-12{
  font-size: 12px;
}

